/*/*
/*.*

!/Demos/*
!/Tests/*
!/Sources/*
!/Plugins/*
!/开发规范/*

!/.gitignore
!/Alife.slnx
!/Directory.Build.props
!/LICENSE.md
!/README.md
!/Publish
!/SyncPluginsToDev.bat
!/BuildAndSyncDev.bat

obj/
bin/
*.log
